main{
  width: 100%;
  min-height: 100vh;
  background: #b9b7f7;
}
header{
  width: 100%;
  height: 15vh;
  background: #00448c;
  justify-content: center;
  display: flex;
  align-items: center;
}
#logo{
  background-repeat: no-repeat;
  width: 55%;
}
.brindefrase{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #00448c;
  background: #fff;
  width: 100%;
  height: 4vh;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 12px #515074;
}

.cartas{
  margin-top: 5%;
  width: 18%;
  height: 14vh;
  margin-left: 5.5%;
  background: #00448c;
  border: 5px solid #fff;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  border-radius: 10px;
  font-size: 2.7rem;
  box-shadow: 0 0 10px #505357;
}

.resultado{
  height: 45vh;
  width: 85%;
  background: #083f79;
  box-shadow: 0 0 30px #f9fcff;
  border-radius: 60px;
  margin-top: 7%;
  margin-left: 7.5%;
  text-align: center;
  padding: 20px;
}
.resultado h2{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.7em;
  margin-bottom: 2%;
}
.resultado img{
  background-repeat: no-repeat;
  height: 52%;
}
.resultado p{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2%;
}
.slogan{
  font-size: 1.8em;
  color: #fff;
}
.teor{
  font-size: 1.1em;
  color: #d4e4f5;
}

footer{
  width: 100%;
  min-height: 25 vh;
  background: #00448c;
  margin-top: 7%;
  text-align: center;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  box-shadow: 0 0 12px #42415e;
}

footer h3{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #d4d3ec;
  font-size: 1.4em;
}

.boxCodigo{
  margin-top: 1.5vh;
  margin-bottom: 3vh;
}
.textoCodigo{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  color: #021122;
  text-transform: uppercase;
  font-weight: bold;
}
.codigo{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bolder;
  color: #fff;
  font-size: 1.4em;
  margin: 5px;
}

.boxCodigo button{
  width: 45%;
  height: 4.4vh;
  background: #ffffff;
  border: none;
  outline: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #00448c;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 20px #0a2542;
  margin-top: 2px;
}

.boxCodigo button:active{
  background: #021122;
  color: #fff;
  transition: 0.02s;
}

.mensagem{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.2em;
  margin: 6px;
  height: 4vh;
  width: 80%;
  background: #5e0000;
  margin-left: 10%;
  border-radius: 10px;
}